*{
    font-size: 16;
    font-family: sans-serif;
    text-align: justify;
}

body{
    background-color: rgb(145, 99, 189);
}

.principal{
    width: 50%;
    margin: auto;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.555);
}